body {
    background-image: url('../images/background.jpg');
}

.hero {  
    align-items: center;
    border-bottom: 5px solid black;
    background-color: rgb(188, 188, 204);
    margin: 35px 250px 0 250px;
}

.hero, p {
    font-weight: bold;
    color: rgb(14, 13, 20);

}

.page-title {
    font-weight: bold;
    color: black;
    
}

main {
    padding: 25px;
}

.hero h1, .hero p {
    text-align: center;
}

.city-selection {
    background-color: blanchedalmond;
    padding: 25px 25px 250px 15px;
    border-radius: 5px;
}

.current-day {
    background-color: blanchedalmond;
    border-radius: 5px;
    padding: 15px;
}

#weather-icon {
    background-color: lightblue;
    margin: 25px;
}

.current-weather {
    list-style: none;
    padding-left: 25px;
}

.current-weather, li {
    font-weight: bold;
}

.current-uv.green {
    background-color: green;
}
.current-uv.yellow {
    background-color: yellow;
}
.current-uv.orange {
    background-color: orange;
}
.current-uv.red {
    background-color: red;
}
.current-uv.violet {
    background-color: blueviolet;
}