

.hero {
    padding: 25px;
    align-items: center;
    border-bottom: 5px solid black;
}

.page-title {
    font-weight: bold;
    color: blue;
}

main {
    padding-top: 25px;
}

.hero h1, .hero p {
    text-align: center;
}

.city-selection {
    padding-left: 25px;
}

.current-uv.green {
    background-color: green;
}
.current-uv.yellow {
    background-color: yellow;
}
.current-uv.orange {
    background-color: orange;
}
.current-uv.red {
    background-color: red;
}
.current-uv.violet {
    background-color: blueviolet;
}